Project 1- Intelligent Document Processing (IDP).blueprint.json
{
  "name": "Project 1: Intelligent Document Processing (IDP)",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomMailHook",
      "version": 1,
      "parameters": {
        "hook": 1866688,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        },
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "false"
              },
              "label": "My gateway-mailhook webhook"
            }
          }
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-mailhook",
            "label": "Mailhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ]
      }
    },
    {
      "id": 5,
      "module": "pdf-co:PDFToAnything",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 7359469
      },
      "mapper": {
        "import": {
          "importType": "upload",
          "data": "{{1.attachments[].data}}",
          "name": "{{1.attachments[].fileName}}"
        },
        "convert": {
          "convertType": "toText"
        },
        "inline": true,
        "async": 15000,
        "expiration": "60",
        "export": {
          "exportType": "inline"
        }
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "My PDF.co connection",
              "data": {
                "scoped": "true",
                "connection": "pdf-co"
              }
            }
          },
          "expect": {
            "import": {
              "nested": {
                "importType": {
                  "label": "Upload a File"
                }
              }
            },
            "convert": {
              "nested": {
                "convertType": {
                  "label": "PDF to Text"
                }
              }
            },
            "inline": {
              "mode": "chose"
            },
            "async": {
              "mode": "chose",
              "label": "Async"
            },
            "export": {
              "nested": {
                "exportType": {
                  "label": "JSON Output"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:pdf-co",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "import",
            "type": "collection",
            "label": "Import Options",
            "required": true,
            "spec": [
              {
                "name": "importType",
                "type": "select",
                "label": "Input File",
                "required": true,
                "validate": {
                  "enum": ["upload", "url"]
                }
              },
              {
                "name": "data",
                "type": "buffer",
                "label": "Data",
                "required": true
              },
              {
                "name": "name",
                "type": "text",
                "label": "Output File Name"
              }
            ]
          },
          {
            "name": "convert",
            "type": "collection",
            "label": "Convert Options",
            "required": true,
            "spec": [
              {
                "name": "convertType",
                "type": "select",
                "label": "Convert Type",
                "required": true,
                "validate": {
                  "enum": [
                    "toTextSimple",
                    "toText",
                    "toCsv",
                    "toJson2",
                    "toJson",
                    "toXml",
                    "toXls",
                    "toXlsx",
                    "toHtml",
                    "toJpg",
                    "toPng",
                    "toTiff"
                  ]
                }
              }
            ]
          },
          {
            "name": "pages",
            "type": "text",
            "label": "Pages"
          },
          {
            "name": "password",
            "type": "text",
            "label": "Password"
          },
          {
            "name": "inline",
            "type": "boolean",
            "label": "Inline"
          },
          {
            "name": "async",
            "type": "select",
            "label": "Execution Mode",
            "validate": {
              "enum": [false, 15000, "asyncCheckLater"]
            }
          },
          {
            "name": "profiles",
            "type": "text",
            "label": "Profiles"
          },
          {
            "name": "expiration",
            "type": "number",
            "label": "Output Links Expiration"
          },
          {
            "name": "export",
            "type": "collection",
            "label": "Export Options",
            "required": true,
            "spec": [
              {
                "name": "exportType",
                "type": "select",
                "label": "Export Type",
                "required": true,
                "validate": {
                  "enum": ["downloadFile", "inline"]
                }
              }
            ]
          }
        ]
      }
    },
    {
      "id": 6,
      "module": "gemini-ai:createACompletionGeminiPro",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 7359538
      },
      "mapper": {
        "model": "gemini-3-flash-preview",
        "contents": [
          {
            "role": "user",
            "parts": [
              {
                "type": "text",
                "text": "You are an Intelligent Document Processing (IDP) agent. I will provide raw text from 7 pages of invoices containing 100 records .Your Task: Extract every single invoice entry into a structured JSON array.Data Normalization Rules:\r\n1. Invoice #: Extract the exact ID (e.g., \"INV2026_001\", \"#002-GVL\").\r\n2. Vendor: Clean the name. Remove \"(attn: billing)\", \"***\", \"(Main)\", or \"- URGENT\".\r\n3. Date: Convert all dates to standard MM/DD/YYYY. (e.g., \"Oct 24, 2024\" becomes 10/24/2024, \"11-Feb-26\" becomes 02/11/2026, \"16-02-2026\" becomes 02/16/2026) .\r\n4. Amount: Numeric only. Remove all currency symbols (₱, $, PHP, USD), commas, and strings like \"+TAX\"[cite: 8].\r\n5. **Currency**: Detect the currency. Use `PHP` for \"php\" or \"₱\", `USD` for \"$\", or PHP as the default.\r\n6. Status: Return only: PAID, UNPAID, or PENDING in all caps.CRITICAL: Return ONLY a raw JSON array. Do not include markdown backticks (```json) or any other text. Start with [ and end with ]."
              },
              {
                "type": "text",
                "text": "{{5.body.document.page.row.column.text}}"
              }
            ]
          }
        ],
        "system_instruction": {},
        "generationConfig": {
          "responseModalities": ["text"],
          "thinkingConfig": {},
          "imageConfig": {}
        }
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "My Gemini AI connection",
              "data": {
                "scoped": "true",
                "connection": "gemini-ai-q9zyjp"
              }
            }
          },
          "expect": {
            "model": {
              "mode": "chose",
              "label": "Gemini 3 Flash Preview"
            },
            "contents": {
              "mode": "chose",
              "items": [
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  },
                  "parts": {
                    "mode": "chose",
                    "items": [
                      {
                        "type": {
                          "mode": "chose",
                          "label": "Text"
                        }
                      },
                      {
                        "type": {
                          "mode": "chose",
                          "label": "Text"
                        }
                      }
                    ]
                  }
                }
              ]
            },
            "system_instruction": {
              "nested": {
                "parts": {
                  "mode": "chose"
                }
              }
            },
            "safetySettings": {
              "mode": "chose"
            },
            "generationConfig": {
              "nested": {
                "stopSequences": {
                  "mode": "chose"
                },
                "responseModalities": {
                  "mode": "chose"
                },
                "thinkingConfig": {
                  "nested": {
                    "include_thoughts": {
                      "mode": "chose"
                    },
                    "thinking_level": {
                      "mode": "chose",
                      "label": "Empty"
                    }
                  }
                },
                "mediaResolution": {
                  "mode": "chose",
                  "label": "Empty"
                },
                "imageConfig": {
                  "nested": {
                    "imageSize": {
                      "mode": "chose",
                      "label": "Empty"
                    }
                  }
                },
                "responseMimeType": {
                  "mode": "chose",
                  "label": "Empty"
                }
              }
            },
            "function_declarations_context": {
              "mode": "chose"
            },
            "url_context": {
              "mode": "chose"
            },
            "google_search_context": {
              "mode": "chose"
            },
            "code_execution": {
              "mode": "chose"
            },
            "google_maps_context": {
              "mode": "chose"
            },
            "file_search_store_context": {
              "mode": "chose"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:gemini-ai-q9zyjp",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "model",
            "type": "select",
            "label": "AI Model",
            "required": true
          },
          {
            "name": "contents",
            "type": "array",
            "label": "Messages",
            "required": true,
            "spec": [
              {
                "name": "role",
                "type": "select",
                "label": "Role",
                "options": [
                  {
                    "label": "User",
                    "value": "user"
                  },
                  {
                    "label": "Model",
                    "value": "model"
                  }
                ]
              },
              {
                "name": "parts",
                "spec": [
                  {
                    "name": "type",
                    "type": "select",
                    "label": "Message Type",
                    "options": [
                      {
                        "label": "Text",
                        "value": "text",
                        "nested": [
                          {
                            "name": "text",
                            "type": "text",
                            "label": "Text",
                            "required": false
                          }
                        ]
                      },
                      {
                        "label": "File",
                        "value": "file",
                        "nested": [
                          {
                            "name": "file_data",
                            "spec": [
                              {
                                "name": "mime_type",
                                "type": "text",
                                "label": "Mime Type",
                                "required": false
                              },
                              {
                                "help": "You can use public or signed URLs as input by using the URLs.",
                                "name": "file_uri",
                                "type": "text",
                                "label": "File URI",
                                "required": false
                              }
                            ],
                            "type": "collection",
                            "label": "File Data",
                            "required": false
                          }
                        ]
                      },
                      {
                        "label": "Function Call",
                        "value": "functionCall",
                        "nested": [
                          {
                            "name": "functionCall",
                            "spec": [
                              {
                                "help": "The name of the function to call.",
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                  "max": 64
                                }
                              },
                              {
                                "help": "The function parameters and values in JSON object format.",
                                "name": "args",
                                "type": "json",
                                "label": "Arguments"
                              },
                              {
                                "help": "The unique ID of the function call.",
                                "name": "id",
                                "type": "text",
                                "label": "Function Call ID"
                              }
                            ],
                            "type": "collection",
                            "label": "Function Call"
                          }
                        ]
                      },
                      {
                        "label": "Function Response",
                        "value": "functionResponse",
                        "nested": [
                          {
                            "name": "functionResponse",
                            "spec": [
                              {
                                "help": "The name of the function to call.",
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true,
                                "validate": {
                                  "max": 64
                                }
                              },
                              {
                                "help": "The function response in JSON object format.",
                                "name": "response",
                                "type": "json",
                                "label": "Response",
                                "required": true
                              }
                            ],
                            "type": "collection",
                            "label": "Function Response"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "name": "thoughtSignature",
                    "type": "text",
                    "label": "Thought Signature"
                  }
                ],
                "type": "array",
                "label": "Parts"
              }
            ]
          },
          {
            "name": "system_instruction",
            "type": "collection",
            "label": "System Instructions",
            "spec": [
              {
                "name": "parts",
                "type": "array",
                "label": "Prompts",
                "spec": {
                  "spec": [
                    {
                      "name": "text",
                      "type": "text",
                      "label": "Value"
                    }
                  ],
                  "type": "collection",
                  "label": "Prompt",
                  "name": "value"
                }
              }
            ]
          },
          {
            "name": "safetySettings",
            "type": "array",
            "label": "Safety Settings",
            "spec": [
              {
                "name": "category",
                "type": "select",
                "label": "Category",
                "options": [
                  {
                    "label": "Harassment content",
                    "value": "HARM_CATEGORY_HARASSMENT"
                  },
                  {
                    "label": "Hate speech and content",
                    "value": "HARM_CATEGORY_HATE_SPEECH"
                  },
                  {
                    "label": "Sexually explicit content.",
                    "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                  },
                  {
                    "label": "Dangerous content:",
                    "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                  }
                ]
              },
              {
                "name": "threshold",
                "type": "select",
                "label": "Threshold",
                "options": [
                  {
                    "label": "Block low and above.",
                    "value": "BLOCK_LOW_AND_ABOVE"
                  },
                  {
                    "label": "Block medium and above.",
                    "value": "BLOCK_MEDIUM_AND_ABOVE"
                  },
                  {
                    "label": "Block only high.",
                    "value": "BLOCK_ONLY_HIGH"
                  },
                  {
                    "label": "Block none.",
                    "value": "BLOCK_NONE"
                  }
                ]
              }
            ]
          },
          {
            "name": "generationConfig",
            "type": "collection",
            "label": "Generation configurations",
            "spec": [
              {
                "name": "stopSequences",
                "type": "array",
                "label": "Stop Sequences",
                "spec": {
                  "type": "text",
                  "label": "Stop Sequence",
                  "name": "value"
                }
              },
              {
                "name": "responseModalities",
                "type": "select",
                "label": "Response Modalities",
                "multiple": true,
                "validate": {
                  "enum": ["text", "image"]
                }
              },
              {
                "name": "maxOutputTokens",
                "type": "number",
                "label": "Max Output Tokens"
              },
              {
                "name": "temperature",
                "type": "number",
                "label": "Temperature",
                "validate": {
                  "max": 1,
                  "min": 0
                }
              },
              {
                "name": "topP",
                "type": "number",
                "label": "Top P",
                "validate": {
                  "max": 1,
                  "min": 0
                }
              },
              {
                "name": "topK",
                "type": "number",
                "label": "Top K"
              },
              {
                "name": "thinkingConfig",
                "type": "collection",
                "label": "Thinking Config",
                "spec": [
                  {
                    "name": "thinkingBudget",
                    "type": "number",
                    "label": "Thinking Budget"
                  },
                  {
                    "name": "include_thoughts",
                    "type": "boolean",
                    "label": "Include Thoughts"
                  },
                  {
                    "name": "thinking_level",
                    "type": "select",
                    "label": "Thinking Level",
                    "validate": {
                      "enum": ["low", "high"]
                    }
                  }
                ]
              },
              {
                "name": "mediaResolution",
                "type": "select",
                "label": "Media Resolution",
                "validate": {
                  "enum": [
                    "media_resolution_low",
                    "media_resolution_medium",
                    "media_resolution_high"
                  ]
                }
              },
              {
                "name": "imageConfig",
                "type": "collection",
                "label": "Image Configuration",
                "spec": [
                  {
                    "name": "imageSize",
                    "type": "select",
                    "label": "Image Size",
                    "validate": {
                      "enum": ["1K", "2K", "4K"]
                    }
                  }
                ]
              },
              {
                "name": "responseMimeType",
                "type": "select",
                "label": "Response Format"
              }
            ]
          },
          {
            "name": "tools",
            "type": "any",
            "label": "Tools"
          },
          {
            "name": "tool_config",
            "type": "any",
            "label": "Tool Config"
          },
          {
            "name": "function_declarations_context",
            "type": "boolean",
            "label": "Function Declarations Grounding"
          },
          {
            "name": "url_context",
            "type": "boolean",
            "label": "URL Context"
          },
          {
            "name": "google_search_context",
            "type": "boolean",
            "label": "Google Search Grounding"
          },
          {
            "name": "code_execution",
            "type": "boolean",
            "label": "Code Execution"
          },
          {
            "name": "google_maps_context",
            "type": "boolean",
            "label": "Google Maps Grounding"
          },
          {
            "name": "file_search_store_context",
            "type": "boolean",
            "label": "File Search Store Context"
          }
        ]
      }
    },
    {
      "id": 9,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{6.result}}"
      },
      "metadata": {
        "designer": {
          "x": 1003,
          "y": 4
        },
        "restore": {
          "expect": {
            "array": {
              "mode": "edit"
            }
          }
        },
        "expect": [
          {
            "name": "array",
            "type": "array",
            "label": "Array",
            "mode": "edit",
            "spec": []
          }
        ]
      }
    },
    {
      "id": 8,
      "module": "notion:createAPage",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 7332552
      },
      "mapper": {
        "select": "list",
        "database": "302111cb-5fac-804b-9b8a-c5f2ac1538a6",
        "fields": {
          "title": "{{9.Vendor}}",
          "GD%60m": "{{9.Amount}}",
          "ZwM%3C": "{{9.`Invoice #`}}",
          "b_pp": {
            "start": "{{9.Date}}",
            "includeTime": false
          },
          "gMNt": "{{9.Status}}"
        }
      },
      "metadata": {
        "designer": {
          "x": 1371,
          "y": -5
        },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "My Notion Public connection (Lawrenze Romero’s Space)",
              "data": {
                "scoped": "true",
                "connection": "notion2"
              }
            }
          },
          "expect": {
            "select": {
              "label": "Select from the list"
            },
            "database": {
              "rpcSearch": {
                "label": null,
                "value": "302111cb-5fac-804b-9b8a-c5f2ac1538a6"
              },
              "nested": [
                {
                  "name": "fields",
                  "label": "Fields",
                  "type": "collection",
                  "spec": [
                    {
                      "name": "title",
                      "label": "Vendor",
                      "required": true,
                      "metadata": {
                        "type": "title"
                      },
                      "type": "text"
                    },
                    {
                      "name": "GD%60m",
                      "label": "Amount",
                      "metadata": {
                        "type": "number"
                      },
                      "type": "number"
                    },
                    {
                      "name": "ZwM%3C",
                      "label": "Invoice #",
                      "metadata": {
                        "type": "rich_text"
                      },
                      "type": "text"
                    },
                    {
                      "name": "b_pp",
                      "label": "Date",
                      "type": "collection",
                      "spec": [
                        {
                          "name": "start",
                          "label": "Start Time",
                          "type": "date"
                        },
                        {
                          "name": "end",
                          "label": "End Time",
                          "type": "date",
                          "help": "Optional. Use only when entering a date range."
                        },
                        {
                          "name": "includeTime",
                          "label": "Include Time",
                          "type": "select",
                          "options": [
                            {
                              "label": "Yes",
                              "value": true
                            },
                            {
                              "label": "No",
                              "value": false,
                              "default": true
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "name": "gMNt",
                      "label": "Status",
                      "metadata": {
                        "type": "select"
                      },
                      "type": "select",
                      "validate": false,
                      "options": [
                        {
                          "label": "Processed",
                          "value": "Processed"
                        },
                        {
                          "label": "Unpaid",
                          "value": "Unpaid"
                        },
                        {
                          "label": "Pending",
                          "value": "Pending"
                        },
                        {
                          "label": "Paid",
                          "value": "Paid"
                        }
                      ]
                    }
                  ]
                }
              ]
            },
            "fields": {
              "nested": {
                "b_pp": {
                  "nested": {
                    "includeTime": {
                      "mode": "chose",
                      "label": "No"
                    }
                  }
                },
                "gMNt": {
                  "mode": "edit"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:notion2,notion3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Enter a Database ID",
            "required": true,
            "validate": {
              "enum": ["map", "list"]
            }
          },
          {
            "name": "database",
            "type": "text",
            "label": "Database ID",
            "required": true
          },
          {
            "name": "fields",
            "type": "collection",
            "label": "Fields",
            "spec": [
              {
                "name": "title",
                "type": "text",
                "label": "Vendor",
                "metadata": {
                  "type": "title"
                },
                "required": true
              },
              {
                "name": "GD%60m",
                "type": "number",
                "label": "Amount",
                "metadata": {
                  "type": "number"
                }
              },
              {
                "name": "ZwM%3C",
                "type": "text",
                "label": "Invoice #",
                "metadata": {
                  "type": "rich_text"
                }
              },
              {
                "name": "b_pp",
                "type": "collection",
                "label": "Date",
                "spec": [
                  {
                    "name": "start",
                    "type": "date",
                    "label": "Start Time"
                  },
                  {
                    "name": "end",
                    "type": "date",
                    "label": "End Time"
                  },
                  {
                    "name": "includeTime",
                    "type": "select",
                    "label": "Include Time",
                    "validate": {
                      "enum": [true, false]
                    }
                  }
                ]
              },
              {
                "name": "gMNt",
                "type": "select",
                "label": "Status",
                "metadata": {
                  "type": "select"
                }
              }
            ]
          }
        ],
        "interface": [
          {
            "name": "object",
            "type": "text",
            "label": "Object"
          },
          {
            "name": "id",
            "type": "text",
            "label": "Database Item ID"
          },
          {
            "name": "created_time",
            "type": "date",
            "label": "Created Time"
          },
          {
            "name": "last_edited_time",
            "type": "date",
            "label": "Last Edited Time"
          },
          {
            "name": "created_by",
            "spec": [
              {
                "name": "object",
                "type": "text",
                "label": "Object"
              },
              {
                "name": "id",
                "type": "uuid",
                "label": "ID"
              }
            ],
            "type": "collection",
            "label": "Created by"
          },
          {
            "name": "last_edited_by",
            "spec": [
              {
                "name": "object",
                "type": "text",
                "label": "Object"
              },
              {
                "name": "id",
                "type": "uuid",
                "label": "ID"
              }
            ],
            "type": "collection",
            "label": "Last Edited by"
          },
          {
            "name": "icon",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "emoji",
                "type": "text",
                "label": "Emoji"
              }
            ],
            "type": "collection",
            "label": "Icon"
          },
          {
            "name": "cover",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "external",
                "spec": [
                  {
                    "name": "url",
                    "type": "text",
                    "label": "URL"
                  }
                ],
                "type": "collection",
                "label": "External"
              }
            ],
            "type": "collection",
            "label": "Cover"
          },
          {
            "name": "url",
            "type": "text",
            "label": "URL"
          },
          {
            "name": "parent",
            "spec": [
              {
                "name": "type",
                "type": "text",
                "label": "Type"
              },
              {
                "name": "workspace",
                "type": "boolean",
                "label": "Workspace"
              },
              {
                "name": "page_id",
                "type": "text",
                "label": "Page ID"
              },
              {
                "name": "database_id",
                "type": "text",
                "label": "Database ID"
              }
            ],
            "type": "collection",
            "label": "Parent"
          },
          {
            "name": "archived",
            "type": "boolean",
            "label": "Archived"
          },
          {
            "name": "properties",
            "spec": {
              "spec": [
                {
                  "name": "id",
                  "type": "text",
                  "label": "ID"
                },
                {
                  "name": "type",
                  "type": "text",
                  "label": "Type"
                },
                {
                  "name": "people",
                  "spec": {
                    "spec": [
                      {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                      },
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "avatar_url",
                        "type": "text",
                        "label": "Avatar Url"
                      },
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "person",
                        "spec": [
                          {
                            "name": "email",
                            "type": "text",
                            "label": "Email"
                          }
                        ],
                        "type": "collection",
                        "label": "Person"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "People"
                },
                {
                  "name": "url",
                  "type": "text",
                  "label": "URL"
                },
                {
                  "name": "text",
                  "spec": {
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "text",
                        "spec": [
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "link",
                            "type": "text",
                            "label": "Link"
                          }
                        ],
                        "type": "collection",
                        "label": "Text"
                      },
                      {
                        "name": "annotations",
                        "spec": [
                          {
                            "name": "bold",
                            "type": "boolean",
                            "label": "Bold"
                          },
                          {
                            "name": "italic",
                            "type": "boolean",
                            "label": "Italic"
                          },
                          {
                            "name": "strikethrough",
                            "type": "boolean",
                            "label": "Strikethrough"
                          },
                          {
                            "name": "underline",
                            "type": "boolean",
                            "label": "Underline"
                          },
                          {
                            "name": "code",
                            "type": "boolean",
                            "label": "Code"
                          },
                          {
                            "name": "color",
                            "type": "text",
                            "label": "Color"
                          }
                        ],
                        "type": "collection",
                        "label": "Annotations"
                      },
                      {
                        "name": "plain_text",
                        "type": "text",
                        "label": "Plain Text"
                      },
                      {
                        "name": "href",
                        "type": "text",
                        "label": "Href"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Text"
                },
                {
                  "name": "select",
                  "spec": [
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "color",
                      "type": "text",
                      "label": "Color"
                    }
                  ],
                  "type": "collection",
                  "label": "Select"
                },
                {
                  "name": "email",
                  "type": "text",
                  "label": "Email"
                },
                {
                  "name": "phone_number",
                  "type": "text",
                  "label": "Phone Number"
                },
                {
                  "name": "multi_select",
                  "spec": {
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      },
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Multi Select"
                },
                {
                  "name": "date",
                  "spec": [
                    {
                      "name": "start",
                      "type": "text",
                      "label": "Start"
                    },
                    {
                      "name": "end",
                      "type": "text",
                      "label": "End"
                    }
                  ],
                  "type": "collection",
                  "label": "Date"
                },
                {
                  "name": "checkbox",
                  "type": "boolean",
                  "label": "Checkbox"
                },
                {
                  "name": "number",
                  "type": "number",
                  "label": "Number"
                },
                {
                  "name": "files",
                  "spec": {
                    "spec": [
                      {
                        "name": "name",
                        "type": "text",
                        "label": "Name"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Files"
                },
                {
                  "name": "title",
                  "spec": {
                    "spec": [
                      {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                      },
                      {
                        "name": "text",
                        "spec": [
                          {
                            "name": "content",
                            "type": "text",
                            "label": "Content"
                          },
                          {
                            "name": "link",
                            "type": "text",
                            "label": "Link"
                          }
                        ],
                        "type": "collection",
                        "label": "Text"
                      },
                      {
                        "name": "annotations",
                        "spec": [
                          {
                            "name": "bold",
                            "type": "boolean",
                            "label": "Bold"
                          },
                          {
                            "name": "italic",
                            "type": "boolean",
                            "label": "Italic"
                          },
                          {
                            "name": "strikethrough",
                            "type": "boolean",
                            "label": "Strikethrough"
                          },
                          {
                            "name": "underline",
                            "type": "boolean",
                            "label": "Underline"
                          },
                          {
                            "name": "code",
                            "type": "boolean",
                            "label": "Code"
                          },
                          {
                            "name": "color",
                            "type": "text",
                            "label": "Color"
                          }
                        ],
                        "type": "collection",
                        "label": "Annotations"
                      },
                      {
                        "name": "plain_text",
                        "type": "text",
                        "label": "Plain Text"
                      },
                      {
                        "name": "href",
                        "type": "text",
                        "label": "Href"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Title"
                },
                {
                  "name": "last_edited_time",
                  "time": true,
                  "type": "date",
                  "label": "Last Edited Time"
                },
                {
                  "name": "created_time",
                  "time": true,
                  "type": "date",
                  "label": "Created Time"
                },
                {
                  "name": "last_edited_by",
                  "spec": [
                    {
                      "name": "object",
                      "type": "text",
                      "label": "Object"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "avatar_url",
                      "type": "text",
                      "label": "Avatar Url"
                    },
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "person",
                      "spec": [
                        {
                          "name": "email",
                          "type": "text",
                          "label": "Email"
                        }
                      ],
                      "type": "collection",
                      "label": "Person"
                    }
                  ],
                  "type": "collection",
                  "label": "Last Edited By"
                },
                {
                  "name": "created_by",
                  "spec": [
                    {
                      "name": "object",
                      "type": "text",
                      "label": "Object"
                    },
                    {
                      "name": "id",
                      "type": "text",
                      "label": "ID"
                    },
                    {
                      "name": "name",
                      "type": "text",
                      "label": "Name"
                    },
                    {
                      "name": "avatar_url",
                      "type": "text",
                      "label": "Avatar Url"
                    },
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "person",
                      "spec": [
                        {
                          "name": "email",
                          "type": "text",
                          "label": "Email"
                        }
                      ],
                      "type": "collection",
                      "label": "Person"
                    }
                  ],
                  "type": "collection",
                  "label": "Created By"
                },
                {
                  "name": "formula",
                  "spec": [
                    {
                      "name": "type",
                      "type": "text",
                      "label": "Type"
                    },
                    {
                      "name": "string",
                      "type": "text",
                      "label": "String"
                    }
                  ],
                  "type": "collection",
                  "label": "Formula"
                },
                {
                  "name": "relation",
                  "spec": {
                    "spec": [
                      {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                      }
                    ],
                    "type": "collection"
                  },
                  "type": "array",
                  "label": "Relation"
                },
                {
                  "name": "label",
                  "type": "text",
                  "label": "Label"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Properties"
          },
          {
            "name": "properties_value",
            "label": "Properties Value",
            "type": "collection",
            "spec": [
              {
                "name": "Amount",
                "label": "Amount",
                "type": "number"
              },
              {
                "name": "Invoice #",
                "label": "Invoice #",
                "type": "array",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ]
              },
              {
                "name": "Date",
                "label": "Date",
                "type": "collection",
                "spec": [
                  {
                    "name": "start",
                    "type": "date",
                    "label": "Start"
                  },
                  {
                    "name": "end",
                    "type": "date",
                    "label": "End"
                  },
                  {
                    "name": "time_zone",
                    "type": "text",
                    "label": "Time Zone"
                  }
                ]
              },
              {
                "name": "Status",
                "label": "Status",
                "type": "collection",
                "spec": [
                  {
                    "name": "id",
                    "type": "text",
                    "label": "ID"
                  },
                  {
                    "name": "name",
                    "type": "text",
                    "label": "Name"
                  },
                  {
                    "name": "color",
                    "type": "text",
                    "label": "Color"
                  }
                ]
              },
              {
                "name": "Vendor",
                "label": "Vendor",
                "type": "array",
                "spec": [
                  {
                    "name": "type",
                    "type": "text",
                    "label": "Type"
                  },
                  {
                    "name": "text",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                      },
                      {
                        "name": "link",
                        "type": "text",
                        "label": "Link"
                      }
                    ],
                    "label": "Text"
                  },
                  {
                    "name": "annotations",
                    "type": "collection",
                    "spec": [
                      {
                        "name": "bold",
                        "type": "boolean",
                        "label": "Bold"
                      },
                      {
                        "name": "italic",
                        "type": "boolean",
                        "label": "Italic"
                      },
                      {
                        "name": "strikethrough",
                        "type": "boolean",
                        "label": "Strikethrough"
                      },
                      {
                        "name": "underline",
                        "type": "boolean",
                        "label": "Underline"
                      },
                      {
                        "name": "code",
                        "type": "boolean",
                        "label": "Code"
                      },
                      {
                        "name": "color",
                        "type": "text",
                        "label": "Color"
                      }
                    ],
                    "label": "Annotations"
                  },
                  {
                    "name": "plain_text",
                    "type": "text",
                    "label": "Plain Text"
                  },
                  {
                    "name": "href",
                    "type": "text",
                    "label": "Href"
                  }
                ]
              }
            ]
          }
        ]
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": []
  }
}
